<!DOCTYPE html>
<html>
<head>
  <title>RoboJS</title>
   <%= stylesheet_link_tag    'application', media: 'all' %>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
   <%= javascript_include_tag 'application' => true %>
   <%= csrf_meta_tags %>
</head>
<body>
<header class="splash-header box">
  <h1 class="splash-h1">Robo.JS</h1>
</header>

<div class="splash-container">
  
    <img src="../assets/robot-512-mod.png" class="robo-picture" />
  
<%= link_to "Enter", login_path, class: "splash-enter-button" %>
</div>

</body>
</html>
