<h3 class="profile-welcome">Welcome, <%= @user.username %></h3>

<% unless @badges.empty? %>
  <h3>Badges</h3>
  <% @badges.each do |badge| %>
    <%= badge %>
  <% end %>
<% end %>

<h3 class="profile-challenges-header">Challenges</h3>
<ol class="profile-challenges">
  <% @challenges.each do |challenge| %>
    <% if challenge.users.include? current_user %>
      <li><%= link_to "#{challenge.title}", challenge_games_path(game: @user.games.find_by(challenge: challenge).attributes, challenge_id: challenge.id), method: :post %></li>
    <% else %>
      <li><%= link_to "#{challenge.title}", challenge_games_path(user_id: @user.id.to_i, challenge_id: challenge.id.to_i, game: Game.new.attributes), method: :post %></li>
    <% end %>
  <% end %>
</ol>
