<h3 class="profile-welcome">Welcome, <%= @user.username %></h3>

<% unless @badges.empty? %>
  <h3>Badges</h3>
  <% @badges.each do |badge| %>
    <%= badge %>
  <% end %>
<% end %>

<h3 class="profile-challenges-header">Challenges</h3>
<ol class="profile-challenges">
  <% @current_challenges.each_with_index do |challenge, i| %>
    <li>
      <div class="status-border">
        <div class="game-status <%= @challenges[i].game_status(current_user) %>"></div>
      </div>
      <%= link_to "#{@challenges[i].title}", challenge_games_path(challenge), method: :post %>
    </li>

  <% end %>
</ol>
