<% if previous_challenge %>
  <li><%= link_to "Previous Challenge", challenge_games_path(challenge_id: previous_challenge.id, game: prev_game), controller: :games, method: :post, challenge_id: challenge.id - 1 %></li>
<% end %>

<% if next_challenge %>
  <li><%= link_to "Next Challenge", challenge_games_path(challenge_id: next_challenge.id, game: next_game), controller: :games, method: :post, challenge_id: challenge.id + 1 %></li>
<% end %>

