.success {
  width: 150px;
  height: 150px;
  overflow: scroll;
}

.challenge-tutorial {
  display: none;
}

.game-console {
  float:right;
}

/*input[type="submit"] {
  padding: 15px;
  /*display: inline-block;*/


.challenge-navigation {
  display: block;
  float: right;
}

.challenge-navigation a, .challenge-navigation a:visited {
  color: #00979c;
  list-style: none;
}

.challenge-navigation li {
  float: left;
  display: inline-block;
}
