.success {
  color: #390;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.failure {
  color: #c00;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif
}

.canvas-and-console {
  width: 100%;
  display: inline-block;
}

.canvas-side {
  float: left;
}

.console-side {
  float: right;
  width: 370px;
  height: 400px;
}

.challenge-tutorial {
  display: none;
}

.game-console {
  float: right;
  padding: 5px 0 20px;
  border-radius: 2px;
}

.game-console-button {
  padding: 10px;
  background: #006569;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  border: none;
}
.challenge-nav-bar {
  float: right;
  position: relative;
}

.challenge-navigation {
  list-style: none;
}

.challenge-navigation a, .challenge-navigation a:visited {
  color: #00979c;
}

.challenge-navigation li {
  float: left;
  padding: 0 5px;
}

.hint-link, .hint-link:visited {
  float: left;
  margin-left: 195px;
  margin-top: -30px;
  color: #00979c;
  text-decoration: underline;
}

.challenge-navigation a:hover, .hint-link:hover{
  color: #52009c;
  text-decoration: none;
}

.hint {
  display: none;
  max-width: 150px;
  float: right;
}

