header {
  color: white;
  background: black;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Open Sans', sans-serif;
  display: block;
  height: 120px;
}

header h1{
  padding: 15px;
  text-align: center;
  margin: 0;
  width: 200px;
}

nav {
  width: 300px;
  float: right;
}

.container {
  margin: 0 auto;
  padding: 10px;
  width: 820px;
  display: block;
}

.user-navigation a, .user-navigation a:visited {
  color: #fff;
  text-decoration: none;
}

.user-navigation {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

.user-navigation li {
  float: left;
  padding: 0 4px;
}

.user-navigation li a {
  display: inline;
  padding: 0 4px;
}

input[type="submit"]{
  outline: none;
}

input[type="submit"]:hover{
  background-color: #00999f;
;
}
