header {
  color: white;
  background: black;
  margin-top: 0;
  padding-top: 0;
}

header h1{
  padding: 15px;
  text-align: center;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 10px;
  width: 800px;
}


