header {
  width: 100%;
  color: white;
  background: black;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
}

.general-headers {
  width: 100%;
  display: inline-block;
}

.layout-header {
  width: 32%;
  margin: 0 auto;
  padding: 1%;
  font-family: 'Sarpanch', sans-serif;
  /*margin-left: 33%;*/
  float: left;
  text-align: center;
}

.profile {
  width: 32%;
  text-align: left;
  padding-left: 1%;
  float: left;
  margin-top: 26px;

}

.logout{
  width: 32%;
  text-align: right;
  float: left;
  margin-top: 26px;
}
.container {
  margin: 0 auto;
  padding: 10px;
  width: 820px;
  display: block;
  overflow: auto;
}

.user-navigaion {
}

.user-navigation, .user-navigation:visited {
  color: #fff;
  text-decoration: none;
}

input[type="submit"]{
  outline: none;
}

input[type="submit"]:hover{
  background-color: #00999f;

}

/*#profile {
  position: absolute;
  left: 5%;
}

#logout {
  position: absolute;
  right: 5%;
}
*/