.sessions-form {
  font-family: "Open Sans", sans-serif;
  display:inline;
}

.login-form {
  display: inline-block;
  padding: 20px 20px 20px 66px;
}

.sign-up-form {
  float: left;
  /*display: inline-block;*/
  margin-left: 120px;
  width: 30%;
  padding: 20px 20px 20px;
  position: relative;
  background: transparent;
}

.submit-button {
  padding: 10px;
  background: #006569;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  border: none;
}

.user-login-field {
  padding: 5px;
  margin: 5px 0 15px;
}


.form-border {
  margin-top: 50px;
  height: 350px;
  width: 5px;
  background-image: radial-gradient( rgba(100, 100, 100, 0.4), #c8c8c8 30%, rgba(200,200,200,0.03) 80%);
  /*border-right: 2px solid rgba(100, 100, 100, 0.3);*/
  /*text-shadow: 0 0 2px gray;*/
  float: left;


}
/*.sign-up-form:before, .sign-up-form:after {
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow: 10px 9px 10px rgba(0,151,156,0.6);
    -moz-box-shadow: 10px 9px 10px rgba(0,151,156,0.6);
    box-shadow: 10px 9px 10px rgba(0,151,156,0.6);
    top: 10%;
    bottom: 15%;
    left: 10%;
    right: 10%;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.sign-up-form:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
     -moz-transform:skew(8deg) rotate(3deg);
      -ms-transform:skew(8deg) rotate(3deg);
       -o-transform:skew(8deg) rotate(3deg);
          transform:skew(8deg) rotate(3deg);
}*/

.login-errors {
  padding: 2px;
  margin: 0;
}