body {
  top: 0;
  left: 0;
  margin: 0;
  background:#fcfcfc;

}
.box{
  width:40%;
  background:#fcfcfc;
  margin:0 auto;
}

.splash-header {
  position:relative;
}

.splash-header:before, .splash-header:after {
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0,151,156,0.8);
    -moz-box-shadow:0 0 10px rgba(0,151,156,0.8);
    box-shadow:0 0 10px rgba(0,151,156,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.splash-header:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
     -moz-transform:skew(8deg) rotate(3deg);
      -ms-transform:skew(8deg) rotate(3deg);
       -o-transform:skew(8deg) rotate(3deg);
          transform:skew(8deg) rotate(3deg);
}


.splash-h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 60px;
  padding: 10px;
  margin: 0;
  color: #006569;
  /*text-shadow: 0 0 5px #00cbcf;*/
}

.splash-container {
  width: 40%;
  margin: 30px auto 0;
  padding-bottom: 20px;
}

.splash-enter-button {
  margin: 46%;
  padding: 10px;
  /*background: #00979c;*/
  background: #006569;
  border-radius: 5px;
  font-size: 18px;
}

.splash-enter-button, .splash-enter-button:visited {
  color: white;
  text-decoration: none;
}

.robo-picture {
  margin-left: 25px;
  padding: 0 15px 15px;

}
