body {
  top: 0;
  left: 0;
  margin: 0;
  background-color: #fcffff;
  height: 100%;

}

.splash-body-background {
  background: linear-gradient(to top, #00cacf, #fcffff 30%) no-repeat center center fixed;
  /*background: url('/assets/splash-background.png') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box{
  width:40%;
  /*background-color: #ced8e4;*/
  background-color: #fcffff;
  /*background-color: transparent;*/
  margin:0 auto;
}

.splash-header {
  position:relative;
}

/*.splash-header:before, .splash-header:after {
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0, 104, 108, 0.8);
    -moz-box-shadow:0 0 10px rgba(0, 104, 108, 0.8);
    box-shadow:0 0 10px rgba(0, 104, 108, 0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}*/

/*.splash-header:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
     -moz-transform:skew(8deg) rotate(3deg);
      -ms-transform:skew(8deg) rotate(3deg);
       -o-transform:skew(8deg) rotate(3deg);
          transform:skew(8deg) rotate(3deg);
}

*/
.splash-h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 60px;
  padding: 10px;
  margin: 0 auto;
  color: #006569;
}

.splash-container {
  text-align: center;
  width: 830px;
  margin: 0 auto;
}

.robot-welcome {
  position: relative;
}

/*.login-path-link {
  top: 50%;
  left: 49.5%;
}*/

/*.login-path-link, .login-path-link:visited {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: fixed;
}*/

/*.login-link {
  padding: 20px;
}*/

.splash-enter-button {
  width: 50px;
  height: 50px;
  background: none;
  border-radius: 30px;
  position: absolute;
  /*top: 375px;*/
  /*padding: 10px 0;*/
}
